<ion-header no-border>
  <ion-toolbar color="mycolor">
    <ion-grid>
      <ion-row>
        <ion-col sizeXg="12">
          <ion-icon name="alarm-outline"></ion-icon>&nbsp;&nbsp;
          <ion-icon name="radio-button-on-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
        <ion-row>
          <ion-col sizeXg="12">
            <label class="texto">INGRESE SU USUARIO:</label>
          </ion-col>
        </ion-row>
        <ion-row class= "input-label">
          <ion-col sizeXg="12">
            <label ><ion-input></ion-input></label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXg="12">
            <label class="texto">INGRESE SU CONTRASEÑA:</label>
          </ion-col>
        </ion-row>
        <ion-row class= "input-label">
          <ion-col sizeXg="12">
            <ion-input></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXg="12">
            <ion-button expand="block">Ingresar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="alink" sizeXg="12">
            <label  color="dark">Tienes problemas para ingresar?</label>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>