<ion-content color="primary">
  <div id="container">
    <ion-grid>
      <!-- WELCOME TO USER -->
      <ion-row class="title">
        <ion-col size="12" class="ion-align-self-center">
          <ion-text>BIENVENIDO PEPITO</ion-text>
        </ion-col>
      </ion-row>
      <!-- OPTIONS FOR USER PART 1 -->
      <ion-row class="option1">
        <ion-col size="6">
          <ion-button fill="clear" class="location">
            <ion-icon name="location-outline"></ion-icon>
          </ion-button>
          <ion-text class="text-button">
            Marcar asistencia
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" class="bar">
            <ion-icon name="bar-chart-outline"></ion-icon>
          </ion-button>
          <ion-text class="text-button">
            Historial
          </ion-text>
        </ion-col>
      </ion-row>
      <!-- OPTIONS FOR USER PART 2 -->
      <ion-row class="option2">
        <ion-col size="6">
          <ion-button fill="clear" class="person">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>
          <br>
          <ion-text class="text-button">
            Usuario
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" class="exit">
            <ion-icon name="exit-outline"></ion-icon>
          </ion-button>
          <ion-text class="text-button">
            Salir
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>