<ion-content color="primary">
  <div id="container">
    <ion-grid>
      <!-- boton de regreso -->
      <ion-row>
        <ion-col size="12">
          <ion-button class="back-button">
            <ion-icon name="arrow-undo-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- titulo -->
      <ion-row style="text-align: center;
      font-size:1.6rem">
        <ion-col>
          MARCADOR DE ASISTENCIA
        </ion-col>
      </ion-row>
      <!-- para ingreso -->
      <div class="card-complex yellow-insite">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              ENTRADA
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            7:30 28/06/2021
          </ion-col>
          <ion-col size="6">
            <ion-button>
              MARCAR
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item-divider></ion-item-divider>
      <!-- para ingreso -->
      <div class="card-complex blue-outside">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              SALIDA
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            7:30 28/06/2021
          </ion-col>
          <ion-col size="6">
            <ion-button>
              MARCAR
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>





    <!-- para ingreso -->

    <!-- para salida -->
  </div>
</ion-content>